:root {
  --background-primary: #f4f5fb;
  --background-secondary: #ffffff;

  --color-brand: #ca3884;
  --color-brand-hover: #a52c6b;
  --color-danger: #c93847;

  --content-primary: #080b12;
  --content-secondary: #374151;
  --content-tertiary: #9ca3af;

  --border-primary: #d1d5db;
  --border-hover: #b9c2d0;

  --size-title: 1.5rem;
  --size-label-paragraph: 1rem;
  --size-link: 0.87rem;

  --weight-link-paragraph: 500;
  --weight-label: 600;
  --weight-title: 700;
}

* {
  font-family: 'Inter', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: var(--color-brand) var(--background-secondary);
}

body {
  background-color: var(--background-primary);
}

main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1.5rem;
  overflow-x: hidden;

  section {
    width: 39.1rem;
    margin: auto;
  }
}

#button-add-item,
#input-add-item,
li,
#notification-delete-item {
  padding: 0.75rem 1.5rem;
  border-radius: 0.75rem;
}

#button-add-item {
  background-color: var(--color-brand);
  color: white;
  font-size: var(--size-label-paragraph);
  font-weight: var(--weight-label);
  border: none;
  width: 14rem;
  max-height: 2.75rem;

  &:hover {
    background-color: var(--color-brand-hover);
    cursor: pointer;
    transition: 200ms;
  }
}

#input-add-item {
  padding: 0.75rem 1.5rem;
  background-color: white;
  width: 100%;

  &::placeholder {
    color: var(--content-tertiary);
  }
}

input {
  outline: none;
  border: 2px solid var(--border-primary);

  &:hover {
    border-color: var(--border-hover);
  }

  &:focus {
    border-color: var(--color-brand);
  }
}

input[type='checkbox'] {
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  width: 1rem;
  height: 1rem;
  border-radius: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: center;

  &:checked {
    background-color: var(--color-brand);
    border: none;

    &::after {
      content: '\2713';
      font-weight: 800;
      font-size: 0.6rem;
      color: white;
      line-height: 1;
    }
  }
}

#div-add-item {
  display: flex;
  align-items: center;
  gap: 1rem;
}

h1 {
  font-size: var(--size-title);
  font-weight: var(--weight-title);
  padding: 1rem 0 2.75rem 0;
}

#button-back {
  border: none;
  cursor: not-allowed;
}

li,
#notification-delete-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem;

  div {
    display: flex;
    gap: 0.5rem;
  }

  button {
    border: none;
    background-color: inherit;
    cursor: pointer;

    &:hover {
      opacity: 80%;
      transition: 200ms;
    }
  }

  p {
    font-size: var(--size-label-paragraph);
    font-weight: var(--weight-link-paragraph);
  }
}

ul {
  max-height: 20rem;
  overflow-y: auto;
  margin-top: 2.5rem;

  .hasScroll {
    padding-right: 0.75rem;
  }

  li {
    background-color: white;

    margin-bottom: 0.75rem;

    p {
      color: var(--content-secondary);
    }
  }
}

#notification-delete-item {
  background-color: var(--color-danger);
  color: white;
  margin-top: 2.25rem;

  .image {
    filter: invert(100%);
  }

  #image-warning {
    width: 1.25rem;
    height: 1.2rem;
  }
}
